table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .complete-button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
  }
  
  .print-button {
    background-color: #2196F3;
    color: white;
    border: none;
  }
  #login-form {
    display: flex;
    flex-direction: column;
  }
  
  #login-form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
  }
  
  #login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  #login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #login-form button:hover {
    background-color: #0056b3;
  }
  

  #login-screen h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007BFF;
  }